name: Generate snake

on:
  schedule:
    - cron: "0 */6 * * *"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Generate snake
        uses: Platane/snk@v3
        with:
          github_user_name: loopystack19
          outputs: dist/snake.svg

      - name: Upload to repo
        uses: EndBug/add-and-commit@v9
        with:
          message: "Update snake animation"
          add: "dist/snake.svg"
